## Import Libraries

In [1]:
# Import the required libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from pathlib import Path
import seaborn as sns
sns.set_theme(style="darkgrid")

# Create a reference to the carbon dioxide CSV and import it into a Pandas DataFrame
carbondioxide = Path("Resources/annual-co2-emissions-per-country.csv")
carbondioxide_df = pd.read_csv(carbondioxide)
carbondioxide_df.head()

        Entity Code  Year  Annual CO₂ emissions
0  Afghanistan  AFG  1949               14656.0
1  Afghanistan  AFG  1950               84272.0
2  Afghanistan  AFG  1951               91600.0
3  Afghanistan  AFG  1952               91600.0
4  Afghanistan  AFG  1953              106256.0

In [ ]:
#just get data 1950 forward for Haiti, Netherlands, United States, and World (subject to change)

In [ ]:
# plot lines for each of those carbon emissions

In [ ]:
# plot a line of best fit

In [6]:
# Create a reference to the temperature CSV and import it into a Pandas DataFrame
globaltemp = Path("Resources/global-land-oceantempindex_derived_data.csv")
globaltemp_df = pd.read_csv(globaltemp)

In [8]:
#clean up the columns and get rid of leftover commas
globaltemp_df.drop(['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'], axis=1)
globaltemp_df.head()

,Year,Temperature Anomaly\n(deg C),Smoothed Temperature Anomaly\n(deg C),Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,1880,-0.16,-0.09,,,,NaN,,
1,1881,-0.08,-0.13,NaN,NaN,NaN,NaN,NaN,NaN
2,1882,-0.11,-0.16,NaN,NaN,NaN,NaN,NaN,NaN
3,1883,-0.17,-0.20,NaN,NaN,NaN,NaN,NaN,NaN
4,1884,-0.28,-0.24,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# chart the lines of the temperature anomaly

In [ ]:
#make a line of best fit

In [4]:
#combine in some way the regression line for carbon emissions and the global temperature in the same figure
# like here: https://seaborn.pydata.org/tutorial/axis_grids.html