## Import Libraries

In [4]:
# Import the required libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from pathlib import Path

# Create a reference to the CSV and import it into a Pandas DataFrame
cubs = Path("seal_cub_count_data/Antarctic_Fur_Seal_Pup_Counts_CS_1995_2012_v1_0.csv")
cubs_df = pd.read_csv(cubs)
cubs_df.head()

      Season  Pup Count
0  1995/1996       4968
1  1996/1997       5689
2  1997/1998       4943
3  1998/1999       5497
4  1999/2000       5865